rect{
    stroke: black;
    stroke-width: 0.5;
}

/*
https://developer.mozilla.org/en-US/docs/Web/SVG/Attribute/overflow
 */
svg{
    padding:5px 5px 5px 5px;
    width: 100vw;
    overflow-x: scroll;
}


.table_Content{
    width: 100vw;
    overflow-x: scroll;
}

